.about-page-container {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px;
    line-height: 1.6;
}

section h1 {
    font-size: 5rem;
}

section p {
    font-size: 18px;
    margin-top: 25px;
    margin-left: 20%;
    margin-right: 20%;
}

.text-highlight {
    color: #f7f7f7;
}