.about-page-container {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
    opacity: 0%;
}

.section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.section p {
    font-size: 18px;
    margin-top: 25px;
}