.character-page-container {
  margin: 75px 0 0 0;
  padding: 0%;
}

.error-message {
  text-align: center;
  margin-top: 5vh;
  font-size: 2em;
  color: var(--headline);
  line-height: 2em;
}

.error-message-sticker {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
  margin-top: 25px;
}

.link {
  text-decoration: none;
  color: var(--highlight);
  letter-spacing: 1px;
}

.character-page-header {
  text-align: center;
  margin-top: 5vh;
  cursor: default;
}
.character-display-container {
  margin-top: 5vh;
}

.character-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.character-grid-item {
  position: relative;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 1.5em;
  width: 300px;
  height: 320px;
  padding-top: 30px;
  border-radius: 25px;
  background-color: var(--stroke);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.character-grid-item:hover {
  transform: scale(1.1);
}

.vision-icon {
  position: absolute;
  top: 15px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--background);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
  padding: 5px;
  z-index: 99;
}

.character-avatar {
  width: 200px;
  height: 200px;
  border-radius: 12.5px;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.rarity-5 .character-avatar {
  background: linear-gradient(145deg, #e7944a, #b56a2b);
  box-shadow: 0px 0px 15px rgba(231, 148, 74, 0.8),
    0px 0px 30px rgba(231, 148, 74, 0.5);
}

.rarity-4 .character-avatar {
  background: linear-gradient(145deg, #9b72d5, #7149a3);
  box-shadow: 0px 0px 15px rgba(155, 114, 213, 0.8),
    0px 0px 30px rgba(155, 114, 213, 0.5);
}

.rarity-text::before {
  content: attr(data-stars);
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--headline);
}

.rarity-text[data-stars="5"]::before {
  content: "★★★★★";
}
.rarity-text[data-stars="4"]::before {
  content: "★★★★";
}

.character-grid-item h3 {
  background-color: inherit;
  color: var(--headline);
  text-transform: uppercase;
  cursor: default;
  margin-top: 25px;
}

.character-grid-item p {
  background-color: inherit;
  color: var(--headline);
  cursor: default;
}
