div, ul, li, strong {
  background-color: inherit;
}

.character-detail-layout {
  max-width: 1500px;
  display: grid;
  grid-template-areas:
    "hero hero hero right ritght"
    "hero hero hero right ritght"
    "bottom bottom bottom bottom bottom";
  margin: 0 auto;
  margin-bottom: 2em;
  font-size: 18px;
  grid-template-columns: repeat(4, 1fr);
  color: var(--stroke);
}

.main-section {
  grid-area: hero;
  background-color: var(--highlight);
  height: 500px;
  padding: 25px;
  border-radius: 25px;
}

.grid {
  display: grid;
  gap: 25px;
}

.right-section {
  grid-area: right;
  background-color: var(--highlight);
  height: 500px;
  margin-left: 25px;
  padding: 25px;
  border-radius: 25px;
}

.right-section div {
  background-color: inherit;
}

.bottom-section {
  grid-area: bottom;
  background-color: var(--highlight);
  height: 250px;
  margin-top: 25px;
  padding: 25px;
  border-radius: 25px;
}

.bottom-section div {
  background-color: inherit;
}

.styled-list {
  list-style-type: none;
  background-color: inherit;
  padding: 0;
}

.styled-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.styled-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23121629' viewBox='0 0 16 16'><path d='m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864z'/><path d='M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z'/></svg>");
  background-size: cover;
}
