.home-page-container {
  margin: 0%;
  padding: 0%;
}

.home-page-header {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 5vh;
}

.home-page-paragraph {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  font-size: 1.5em;
  line-height: 1.3;
}

.home-page-paragraph p {
  margin-top: 1vh;
  width: 66vw;
  text-align: center;
}

.custom-list {
  list-style: none;
  padding-left: 0%;
}

.custom-list li {
  position: relative;
  padding-left: 32px;
}

.custom-list li::before {
  content: "🔹";
  position: absolute;
  left: 0;
}

.home-page-image-container {
  width: 100vw;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
