@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap');

.navbar,
.navbar-text,
.navbar-text a {
  all: unset;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 30px;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  gap: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.navbar-text {
  text-decoration: none;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  text-transform: uppercase;
  font-family: "Bangers", serif;
  letter-spacing: 3px;
}

.navbar-text:hover {
  color: var(--quaternary);
  transform: scale(1.1);
  cursor: pointer;
}

.site-title {
  flex: 1;
}

.site-title a {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  text-decoration: none;
  font-family: "Permanent Marker", serif;
}
